/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$bodyFontFamily: 'Oswald', sans-serif;
$bodyFontSize: 16px;
$bodyFontColor:#222222;
$anchorColor:#6666ff;
$anchorHoverColor:#222222;
$headingColor:#444444;

.container {
	width: 84%;
	margin:0 auto;
	max-width:1140px;
}

body {
	font-family:$bodyFontFamily;
	color: $bodyFontColor;
}


h1 {
	padding:10px;
	color:$headingColor;
}

h2 {
	padding:10px;
	color:$headingColor - 20;
}

ul#mainmenu {
	display:block;
	padding:10px;	
	font-size:16px;
	list-style-type:circle;

	li {
		display:inline;
		padding:5px;
		
		a {
			text-decoration:none;
			color:$anchorColor;
		}
		
		a:hover {
			color:$anchorHoverColor;
		}

	}
}				
