/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$bodyFontFamily: 'Times';
$bodyFontSize: 16px;
$bodyFontColor:#222222;
$anchorColor:#6666ff;
$anchorHoverColor:#666699;

body {
	font-family:$bodyFontFamily;
	color: $bodyFontColor;
	font-size:$bodyFontSize;
}

h1 {
	font-size:64px;
	padding:10px;
}

h2 {
	font-size:48px;
	padding:10px;
}

ul {
	display:block;
	padding:10px;	
	font-size:16px;
	list-style-type:circle;

	li {
		display:inline;
		padding:5px;
		
		a {
			text-decoration:none;
			color:$anchorColor;
		}
		
		a:hover {
			color:$anchorHoverColor;
		}

	}
}				
