
    <!-- Portfolio Grid Section -->
    <section id="videos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Videos</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for video in site.videos %}
                    <div class="col-sm-12" style="text-align:center;">
                        <iframe src="https://player.vimeo.com/video/{{ video.video-id }}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        <br/>
                        <p> {{ video.description }} </p>
                        <p> Client: <strong>{{ video.client }}</strong>
                        <br/>
                        <hr>
                        <br/>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>